html, body, main{
    margin:0;
    height: 100%;
}
body{
    background-image: url('/room.jpg');
    background-size: auto 100vh;
    background-position: center center;
}

#hero .image{
    margin: 0 auto;
}

.beverage { position: relative; }
.beverage .delete {
    position: absolute;
    top: 0;
    right: 0;
}